<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/My Projects/APIAutomationRestAssured">
        <classes>
            <class name="com.restfulbooker.tests.integrationtests.integrationTest1">
                <methods>
                    <include name="testCreateBooking"/>
                    <include name="testUpdateBooking"/>
                    <include name="testGetBooking"/>
                </methods>
            </class>
            <class name="com.restfulbooker.tests.crud.createBooking"></class>
            <class name="com.restfulbooker.tests.crud.ping"></class>
        </classes>
    </test>
</suite>